#Manipulating HDI Data

#Mounting Drive files and importing packages

The first thing you must do is mount your Google Drive to the python file and import the pandas and numpy packages. These will allow you to use predefined methods in each library to manipulate the data.

In [105]:
from google.colab import drive
drive.mount('/content/gdrive')
import numpy as np
import pandas as pd

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

#Parsing csv name and creating a DataFrame
Next, I used functions I found online to parse through the name of the csv file (which I already uploaded to my drive) and input the data in the file to the DataFrame.
>Side note: I encountered some errors trying to add the data from the csv to the data frame, so I used the encoding method to turn it into Unicode and that worked.

In [ ]:
filename = "/content/gdrive/MyDrive/Colab Notebooks/HDI_short.csv"
filename.encode('utf-8').strip()
df=pd.read_csv(filename, encoding = 'unicode_escape')

#Creating a DataFrame of the lower HDI countries
Next, I isolated the data in the file to only the 20 countries with the lowest HDI ranking via a series verifying that the column "HDI rank" is less than 174, and creating a new series from the specified countries.

I decided to include the columns for life expectancy at birth, gross national income, expected years of schooling, country, and HDI rank in the series, evidenced by the .loc function's parameters.

In [106]:
dflow = df[df['HDI rank'] >= 174]
dflow = dflow.loc[:,["Country","HDI rank","Life expectancy at birth","Gross national income (GNI) per capita","Expected years of schooling"]]

##Doing the same for the higher HDI countries

In [ ]:
dfhigh = df[df['HDI rank'] <=20]
dfhigh = dfhigh.loc[:,["Country","HDI rank","Life expectancy at birth","Gross national income (GNI) per capita","Expected years of schooling"]]

#Combining the data sets

After this, I used the .concat function to display the two lists together. I used an axis argument of 0, which ensures that the columns are not repeated when concatenating.

In [107]:
dfnew = pd.concat([dfhigh, dflow], axis=0)
dfnew

,Country,HDI rank,Life expectancy at birth,Gross national income (GNI) per capita,Expected years of schooling
0,Switzerland,1,84.0,"66,933",16.5
1,Norway,2,83.2,"64,660",18.2
2,Iceland,3,82.7,"55,782",19.2
3,"Hong Kong, China (SAR)",4,85.5,"62,607",17.3
4,Australia,5,84.5,"49,238",21.1
5,Denmark,6,81.4,"60,365",18.7
6,Sweden,7,83.0,"54,489",19.4
7,Ireland,8,82.0,"76,169",18.9
8,Germany,9,80.6,"54,534",17.0
9,Netherlands,10,81.7,"55,979",18.7
10,Finland,11,82.0,"49,452",19.1
11,Singapore,12,82.8,"90,919",16.5
12,Belgium,13,81.9,"52,293",19.6
13,New Zealand,13,82.5,"44,057",20.3
14,Canada,15,82.7,"46,808",16.4
15,Liechtenstein,16,83.3,"146,830",15.2
16,Luxembourg,17,82.6,"84,649",14.4
17,United Kingdom,18,80.7,"45,225",17.3
18,Japan,19,84.8,"42,274",15.2
19,Korea (Republic of),19,83.7,"44,501",16.5
173,Gambia,174,62.1,"2,172",9.4
174,Ethiopia,175,65.0,"2,361",9.7
175,Eritrea,176,66.5,"1,729",8.1
176,Guinea-Bissau,177,59.7,"1,908",10.6
177,Liberia,178,60.7,"1,289",10.4
178,Congo (Democratic Republic of the),179,59.2,"1,076",9.8
179,Afghanistan,180,62.0,"1,824",10.3
180,Sierra Leone,181,60.1,"1,622",9.6
181,Guinea,182,58.9,"2,481",9.8
182,Yemen,183,63.8,"1,314",9.1
183,Burkina Faso,184,59.3,"2,118",9.1
184,Mozambique,185,59.3,"1,198",10.2
185,Mali,186,58.9,"2,133",7.4
186,Burundi,187,61.7,732,10.7
187,Central African Republic,188,53.9,966,8.0
188,Niger,189,61.6,"1,240",7.0
189,Chad,190,52.5,"1,364",8.0
190,South Sudan,191,55.0,768,5.5
191,Korea (Democratic People's Rep. of),192,73.3,..,10.8
192,Monaco,193,85.9,..,..
193,Nauru,194,63.6,"17,730",11.7
194,Somalia,195,55.3,"1,018",..

#Finding Data Descriptors

Finally, I tried experimenting with some functions like .sum(), .astype(), and .replace() to make variables that show more important statistical data, like the mean of certain columns.

In [155]:
meanLifeHigh = dfhigh['Life expectancy at birth'].sum()/20
meanLifeLow = dflow['Life expectancy at birth'].sum()/20

In [178]:
meanGDIHigh = dfhigh['Gross national income (GNI) per capita'].astype(str).replace(',','')
meanGDILow = dflow['Gross national income (GNI) per capita'].astype(str).replace(',','')

#Making a new DataFrame

With the new variables, I attempted to make a DataFrame to summarize the statistics of the top 20 and bottom 20 countries.
>As you can see, my calculation of the mean GNI hasn't been perfected yet. I'm still working on replacing the commas in the original strings and converting them to integers in order to find the sum.

In [183]:
newStats = pd.DataFrame({"Category" : ["Top 20","Bottom 20"],
                   "Mean life expectancy at birth" : [meanLifeHigh,meanLifeLow],
                         "Mean GNI" : [meanGDIHigh,meanGDILow]})
newStats

,Category,Mean life expectancy at birth,Mean GNI
0,Top 20,82.780,"0 66,933 1 64,660 2 55,782 3 ..."
1,Bottom 20,67.915,"173 2,172 174 2,361 175 1,729 176 ..."

#Converting back to CSV

As a last step, I converted my final, manipulated DataFrames (the two that would be useful for researchers) back into csv files.

In [186]:
newStats.to_csv("HDIStats.csv", index=False)
dfnew.to_csv("CombinedData.csv", index=False)